<% include partials/header %>
<h1>This is the campgrounds page!</h1>

<a href="/campgrounds/new">Add New Campgrounds</a>
<% campgrounds.forEach(element => { %>
    <div>
        <h4><%= element.name %></h4>
        <img src="<%= element.image%>">
    </div>
<%}); %>
<% include partials/footer %>